#body {
    background-image: url("https://wallpapercave.com/wp/wp1841291.jpg");
    background-size: 100%;
    font-family: 'Bangers', cursive;
}

#title {
    text-align: center;
    font-size: 42px;
}

#description {
    text-align: center;
    font-size: xx-large;
}

#survey-form {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    line-height: 1.5;
    background: rgba(4, 4, 78, 0.8);
    color:white;
    font-family: 'Electrolize', sans-serif;
    text-align: left;
    padding: 30px;
}

#name,#email,#number,#dropdown {
    width: 55%;
}

#playerlist label {
    display: block;
}

#playerlist input {
    position: relative;
    display: block;
    float: left;
}

#comments {
    height: 120px;
    width: 55%;
}

#submit{
    margin-left: auto;
    margin-right: auto;
    display: block;
    background: green;
    border:0px;
    height: 30px;
    width: 150px;
    font-size: 18px;
    color: white;
    font-family: 'Electrolize', sans-serif;
}

#submit:hover {
    background:red;
    cursor: pointer;
}